<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pascal.canlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <service
            android:name=".MyDriveEventService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.drive.events.HANDLE_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditActivity" />
        <activity
            android:name=".ImportPatternActivity"
            android:configChanges="orientation|screenSize" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".PatternPreviewActivity" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".GoogleDriveBaseActivity" />
        <activity android:name=".ReceiverActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="canlight.com"
                    android:pathPrefix="/rcv_shr/"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".GoogleDriveCreateFileActivity" />
        <activity android:name=".GoogleDriveActivity" />
        <activity android:name=".ImportExportActivity"></activity>
    </application>

</manifest>